* {
    margin: 0;
    padding: 0;
    font-weight: bolder;
  }
  body {
    background-image: url('/image/pexels-fauxels-3184292.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  nav {width: 100%;height: 50px;background: #B0BEC5;display: flex;justify-content: space-between;align-items: center;font-size: 30px;}
  nav > a:nth-child(1) { padding: 0px 30px 0px 30px;text-decoration: none;color: white;}
  nav > a:nth-child(2) {padding: 0px 30px 0px 30px;text-decoration: none;color: black;}
  h1 {color: #263238;position: fixed; background-color: #B0BEC5;}
  table {
    width: 100%;
    border-radius: 10px;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}
  tbody > tr:hover{ background-color: #FFEB3B;height: 100px;} 
  thead > tr:hover { background-color: #FFEB3B;}
  thead > tr {width: 100%; display: flex;justify-content: space-around; margin-bottom: 10px;  }
  tbody > tr {display: flex;justify-content: space-around;box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;}
  thead > tr > td,tbody > tr > td { width: 20%; backdrop-filter: blur(5px); }
  thead > tr > td {font-size: 20px;font-weight: bolder;height: 60px;}
  tbody > tr {height: 100px;border-bottom: 1px solid white;}
  img {width: 100%;border-radius: 10px; }
  .adminsiseimg { width: 55px;}
  .update:hover{color: white;background-color: green;}
  .delete:hover{color: white;background-color: red;}
  .updata {color: rgb(0, 0, 0);}
  td {display: flex;align-items: center;padding-left: 20px;text-align: left;}
 
  .swal-text { font-size: 20px; font-weight: bolder; }
  .swal-button {background-color: #0025ff; }
  
  #updatadata {position: fixed;display: none;top: 0%;left: 0%;width: 100%;height: 100%;z-index: 1001;-moz-opacity: 0.8;opacity: 1;filter: alpha(opacity=80);}
  #form{
    
    margin-top: 8%;
    margin-left: 5%;
    margin-bottom: 10%;
    width: 30%;
    height: 70%; 
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    background-image: url('/image/pexels-fauxels-3184292.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
    text-align: center;
    
  }
  #img,#name,#price,#rating,#cat{
    margin-top: 5px;
    height: 15%;
    color:white;
    border-radius: 4px;
    background-color: transparent;
    
  }
  input{
    backdrop-filter: blur(5px);
    width: 10%;
  }
  .close-btn{
    color: #B0BEC5;
    background-color: aliceblue;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }
  .close-btn:hover{
    cursor: pointer;
  }

#topPage{display: flex;}

#scroll{
  height: 400px;
  overflow: scroll;
  scrollbar-width: none;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 10px;
  width: 70%;   
}
#updateForm{
  height: 80%;
  justify-content: center;
  overflow: scroll;
  scrollbar-width:thin;
  margin-top: 20px;
  margin-left: 10%;
  border-radius: 10px;
  width: 50%;
}
#updateForm>input{
  background-color: #FFEB3B;
}

#adminForm{
  
  height: 80%;
  justify-content: center;
  overflow: scroll;
  scrollbar-width:none;
  margin-top: 20px;
  margin-left: 10%;
  border-radius: 10px;
  width: 30%;
  
}

#adminForm>input{
  border: 10px solid #ccc;
}
 #adminForm>button{
  
  width: 50%;
  padding: 12px 20px;
  margin: 8px 20px;
  display: inline-block;
  border: 10px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  height: auto;
  backdrop-filter: blur(5px);
  background-color:#263238;
} 

  body {
    background-image: url('/image/—Pngtree—bread\ minimalist\ literary\ white\ food_1121500.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
  }
  #form {
   margin-left: 50%;
    width: 30%;
    padding: 30px;
    background-color: #9E9E9E;
    
    border-radius: 5px;
  }
  #signupheading{
    margin-top: 10px;
    text-align: center;
  }
  label {
    font-size: 1.2em;
    color: black;
    margin-bottom: 10px;
    display: block;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0px;
    border-radius: 4px;
    background-color: white;
    color: black;
  }
  
  button[type="submit"] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: white;
    color: black;
  }

  
  button { height: 40px; grid-column-start: 1; grid-column-end: 3; padding: 10px; color: white; font-weight: bolder; border-radius: 10px; background: rgb(3, 3, 3); }
  /* #sorting{ display: flex; justify-content: space-between;} */
  #sorting>div{margin-right: 0px; margin-left: 0px; }
  #sorting>div>button{ background: rgb(5 110 76); border: none; border-radius: 0px 0px 10px 0px; }
  #sorting>div:nth-child(2){ margin-bottom: -3px; background: transparent; margin-left: 20px; }
  #sorting>div>select{color: aliceblue; height: 100%;margin: -4px;border: 2px solid gray;background-color: transparent;}
  #sorting>div>input{ height: 92%; margin: 0px; border: 2px solid gray; background-color: transparent; color: white; padding-left: 20px; }
  #sorting>div>input::placeholder { color: rgb(255, 255, 255); opacity: 1;}
  #sorting>div>input:-ms-input-placeholder { color: rgb(255, 255, 255);}
  #sorting>div>input::-ms-input-placeholder {color: rgb(255, 255, 255);}
  #updatadata>form>input{
    width: 100%;
  }

@media screen and (max-width:700px){
  #scroll{
    grid-column-start: 1;
    grid-column-end: 2;
    height: 400px;
    overflow: scroll;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
    width: 100%;   
  }
  #adminForm{
    display: block;
    height: 400px;
   
    overflow: scroll;
    scrollbar-width:none;
    margin-top: 20px;
    margin-left: 10%;
    border-radius: 10px;
    width: 80%;
    
  }
  #adminForm>button{
    margin-left: 26%;
    width: 200px;
  }

#sorting{display: none;}
thead>tr>td:nth-child(4),tbody>tr>td:nth-child(4){ display: none;}
}
@media screen and (min-width:0px) and (max-width:400px){

  #scroll{
    height: 400px;
    overflow: scroll;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
    width: 90%;   
  }

thead>tr>td:nth-child(5),tbody>tr>td:nth-child(5){display: none;}
nav > a:nth-child(2){ padding: 0px;}
nav>a:nth-child(1){font-size: 20px;padding: 0px 8px 0px 8px;}
nav>a:nth-child(2){font-size: 20px;padding: 0px 8px 0px 8px;}
#next > button{font-size: 15px;}
h1{font-size: 20px;width: 100%;text-align: center;}
#btn1,#btn{height: 50px;}
#btn{display: flex;}
button,#btn{padding: 0px;display: flex;align-items: center;}
}